body{
    background-color: rgb(36, 36, 36);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

#menuLat{
    background-color: rgb(36, 36, 36,0);
    float: left ;
    position: absolute;
    top: 5px;
    left: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding-right: 5px;
    border-right: 1px solid rgb(51, 51, 51);
}

.buttonMenuSup{
    cursor: pointer;
    font-size: 20pt;
    display: block;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(36, 36, 36, 0);
    color: white;
    transition: 100ms;
    
}
.buttonMenuSup:hover{
    background-color: rgb(51, 51, 51);
}

#boas-vindas{    
    display: block;
    position: absolute;
    top:100px;
    width: 40%;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 30px rgb(44, 44, 44);
}

#area-arquivo{
    text-align: center;
    margin-top: 30px;
    display: block;
    border-color: rgb(55, 158, 184);
    border-style: dashed;
    border-radius: 10px;    
    height: 150px;
    background-color:rgb(12, 12, 12);
    /* opacity: .3; */
    transition: 100ms;
}

#area-arquivo:hover{
    box-shadow: 0px 0px 10px rgb(55, 158, 184);
    background-color:rgb(20, 20, 20);
}

.btn{
    font-size: 14pt;
    background-color: rgb(55, 158, 184);
    cursor: pointer;
    display: inline-block;    
    padding: 10px;
    border-radius: 5px;
    border: solid 2px rgb(35, 98, 114);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 200ms;
    color: white;   
}
.btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(100, 100, 100);
}



#configuracao{
    display: none;
    position: absolute;
    left: 55px;
    top: 20px;
    height: 85%;
    width: 30%;
    border-radius: 10px;
    padding: 30px;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 30px rgb(44, 44, 44);
    transform: translateX(-1000px);
}

.slideIn_config{
    animation-name: slideIn;
    animation-duration: 500ms;
}

@keyframes slideIn{
    0%{transform: translateX(-1000px);}
    100%{transform: translateX(0px);}
}
.slideOut_config{
    animation-name: slideOut;
    animation-duration: 500ms;
}

@keyframes slideOut{
    0%{transform: translateX(0px);}
    100%{transform: translateX(-1000px);}
}

#list-config{
    overflow-y:scroll;
    
    width: 100%;
    height: 90%;
}

#tabela-config{
    width: 100%;
    color: white;
}

#tabela-config tr{
    height: 45px;
}

#tabela-config .entrada{
    width: 60%;
    padding-left: 30px;
}

#tabela-config input{    
    display: block;
    height: 30px;
    font-size: 12pt;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

#tabela-config input:hover{
    border-color: rgb(55, 158, 184);
}

.entrada-cor{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: solid 2px white;
}


#view_materia{
    display: none;
    position: absolute;
    padding: 20px;
    width: 40%;
    height: 60%;
    top: 100px;
    color:white;
    background-color: rgba(0, 0, 0);
    box-shadow: 0px 0px 30px rgb(44, 44, 44);
    border-radius: 10px;
}

#view_data{
    height: 75%;
    overflow-y: scroll;
}

#tabela_view_data{
    font-size: 14pt;
    width: 100%;
    color: white;
}

#tabela_view_data input{    
    display: block;
    height: 30px;
    font-size: 12pt;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

#tabela_view_data input:hover{
    border-color: rgb(55, 158, 184);
}

.linha_view_data{
    height: 40px;    
}

textarea{
    display: block;
    height: 30px;
    font-size: 12pt;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}
textarea:hover{
    border-color: rgb(55, 158, 184);
}

.btn_select{
    
    width: 20%;
}