body{
    background-color: rgb(235, 235, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

#menuLat{
    background-color: rgba(219, 219, 219, 0);
    float: left ;
    position: absolute;
    top: 5px;
    left: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding-right: 5px;
    border-right: 1px solid rgb(51, 51, 51);
}

.buttonMenuSup{
    cursor: pointer;
    font-size: 20pt;
    display: block;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    transition: 100ms;
    
}
.buttonMenuSup:hover{
    background-color: rgb(223, 223, 223);
}

#boas-vindas{    
    display: block;
    position: absolute;
    top:100px;
    width: 40%;
    background-color: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0px 0px 30px gray;
}

#area-arquivo{
    text-align: center;
    margin-top: 30px;
    display: block;
    border-color: rgb(55, 158, 184);
    border-style: dashed;
    border-radius: 10px;    
    height: 150px;
    background-color:rgb(240, 240, 240);
    /* opacity: .3; */
    transition: 100ms;
}

#area-arquivo:hover{
    box-shadow: 0px 0px 10px rgb(55, 158, 184);
    background-color:rgb(230, 230, 230);
}

.btn{
    font-size: 14pt;
    background-color: rgb(55, 158, 184);
    cursor: pointer;
    display: inline-block;    
    padding: 10px;
    border-radius: 5px;
    border: solid 2px rgb(35, 98, 114);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 200ms;
    color: white;   
}
.btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(100, 100, 100);
}

#list-config{
    display: block;
    width: 100%;
    height: 300px;
}


#configuracao{
    display: block;
    position: absolute;
    left: 55px;
    top: 20px;
    height: 85%;
    width: 30%;
    border-radius: 10px;
    padding: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px gray;
}

#list-config{
    overflow-y:scroll;
    
    width: 100%;
    height: 90%;
}

#tabela-config{
    width: 100%;
    color: rgb(0, 0, 0);
}

#tabela-config tr{
    height: 45px;
}

#tabela-config .entrada{
    width: 60%;
    padding-left: 30px;
}

#tabela-config input{    
    display: block;
    height: 30px;
    font-size: 12pt;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

#tabela-config input:hover{
    /* border-color: rgb(255, 255, 255); */
    border-color: rgb(55, 158, 184);
    /* box-shadow: 0px 0px 5px rgb(55, 158, 184); */
}



.entrada-cor{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: solid 2px rgb(0, 0, 0);
}





